---
layout: home
title: Thymeless Treats Bakery
subtitle: Where Every Bite is Timelessly Delicious!
cover-img: ["/assets/img/easter/IMG_6388.jpg", "/assets/img/easter/IMG_6394.jpg", "/assets/img/easter/IMG_6434.jpg", "/assets/img/easter/IMG_6471.jpg"]
show_social_links: true
permalink: /easter/
---
  
  <h1 class="text-center">🐇 Easter Menu 🥕</h1><br><br>

    
  <!-- Lemon Raspberry Row -->
  <div class="row justify-content-center">
    
      <!-- Column 1 (Large Lemon Raspberry) -->
      {% include card.html 
          image='/assets/img/easter/IMG_6434.jpg' 
          text='$32'
          modal_target='#modalEasterBox' 
          title='Assorted Easter Cookie Box'
          alt='Easter Cookie Box' 
      %}
      {% include modal.html 
        modal_id='modalEasterBox'
        modal_title='Assorted Easter Cookie Box'
        modal_body='An assortment of beautiful easter cookies<br><br>Includes<br>- (6) Buttercream Easter Cookies<br> - (6) Chocolate Chip Egg Nest Cookies'
        modal_disclaimer=''
        modal_price='$32 per box'
        modal_alt='Easter Box'
        modal_image='/assets/img/easter/IMG_6434.jpg'
      %}

        <!-- Column 2 (Large Anti Valentine) -->
        {% include card.html 
          image='/assets/img/easter/IMG_6440.jpg' 
          text='$5'
          title='Customized Easter Egg Cookie'
          modal_target='#modalCustomEaster' 
          alt='Customized Easter Egg Cookie'
        %}
        {% include modal.html 
          modal_id='modalCustomEaster'
          modal_title='Customized Easter Egg Cookie'
          modal_body="Add a customized buttercream sugar cookie to everyone's Easter Baskets this year! <br><br> These egg shaped buttercream cookies come in assorted colors with the name of your choice written on them."
          modal_disclaimer=''
          modal_price='$5 / cookie'
          modal_alt='Customized Easter Egg Cookie'
          modal_image='/assets/img/easter/IMG_6440.jpg'
        %}

      <!-- Column 3 (Large Chocolate Covered Raspberry) -->
      {% include card.html 
        image='/assets/img/easter/IMG_6471.jpg' 
        text='$20 / dozen'
        title='Chocolate Chip Egg Nest Cookies'
        modal_target='#modalChocolateEaster' 
        alt='Chocolate Chip Egg Nest Cookies' 
      %}
      {% include modal.html 
        modal_id='modalChocolateEaster'
        modal_title='Chocolate Chip Egg Nest Cookies'
        modal_body=''
        modal_disclaimer=''
        modal_price='$20 / dozen'
        modal_alt='Chocolate Chip Egg Nest Cookies'
        modal_image='/assets/img/easter/IMG_6471.jpg'
      %}
    </div>
  