---
layout: home
title: Thymeless Treats Bakery
subtitle: stuff about treats stuff
cover-img:
- /assets/img/bread.jpg
---

<h1 class="text-center">Best Sellers</h1>

    
<!-- Use it in your main page like this: -->
    
    <!-- First Row -->
    <div class="row">
        <!-- Column 1 (Teacher Boxes) -->
        {% include card.html image='/assets/img/teacher-box.jpg' title='Teacher Boxes' text='$5'
        modal_target='#modalTeacherBoxes' alt='Teacher Boxes' %}
        {% include modal.html modal_id='modalTeacherBoxes' modal_title='Christmas Best Sellers' modal_alt='Teacher Boxes' modal_body='...' modal_image='/assets/img/teacher-box.jpg' %}

        <!-- Column 2 (Buckeyes) --> 
        {% include card.html image='/assets/img/buckeyes.jpg' title='Buckeyes' text='$69' 
        modal_target='#modalBuckeyes' alt='Buckeyes' %}
        {% include modal.html modal_id='modalBuckeyes' modal_title='Christmas Best Sellers' modal_alt='Buckeyes' modal_body='...' modal_image='/assets/img/buckeyes.jpg' %}

        <!-- Column 3 (Chocolate Covered Sea Salt Cashews) -->
        {% include card.html image='/assets/img/cashews.jpg' title='Chocolate Covered Cashews' text='$69'
        modal_target='#modalCashews' alt='Chocolate Covered Sea Salt Cashews' %}
        {% include modal.html modal_id='modalCashews' modal_title='Christmas Best Sellers' modal_alt='Chocolate Covered Sea Salt Cashews' modal_body='...' modal_image='/assets/img/cashews.jpg' %}
    </div>

    <h2 class="text-center">Full Christmas Menu</h2>

    <!-- Second Row -->
    <div class="row">
        <!-- Column 1 -->
        {% include card.html image='/assets/img/box.jpg' title='Christmas Cookie Tray' text='$40 Per Tray / 2 for $75'
        modal_target='#modalChristmasCookieTray' alt='Christmas Cookie Tray' %}
        {% include modal.html modal_id='modalChristmasCookieTray' modal_title='Christmas Menu' modal_alt='Christmas Cookie Tray' modal_body='...' modal_image='/assets/img/box.jpg' %}

        <!-- Column 2 (Thumbprint Cookies) -->
        {% include card.html image='/assets/img/thumbprint.jpg' title='Thumbprint Cookies' text='$FREE' 
        modal_target='#modalThumbprintCookies' alt='Thumbprint Cookies' %}
        {% include modal.html modal_id='modalThumbprintCookies' modal_title='Christmas Menu' modal_body='...' modal_alt='Thumbprint Cookies' modal_image='/assets/img/thumbprint.jpg' %}

        <!-- Column 3 (Grinch Cookies) -->
        {% include card.html image='/assets/img/grinch.jpg' title='Grinch Cookies' text='$Ask'
        modal_target='#modalGrinchCookies' alt='Grinch Cookies' %}
        {% include modal.html modal_id='modalGrinchCookies' modal_title='Christmas Menu' modal_body='...' modal_alt='Grinch Cookies' modal_image='/assets/img/Grinch.jpg' %}

        <!-- Column 1 (Buckeyes) -->
        {% include card.html image='/assets/img/buckeyes.jpg' title='Buckeyes' text='$6,000'
        modal_target='#modalBuckeyesLarge' alt='Buckeyes' %}
        {% include modal.html modal_id='modalBuckeyesLarge' modal_title='Christmas Menu' modal_body='...' modal_alt='Buckeyes' modal_image='/assets/img/buckeyes.jpg' %}

        <!-- Column 2 (Oatmeal Shortbread Cookies) -->
        {% include card.html image='/assets/img/oatmeal-shortbread.jpg' title='Oatmeal Shortbread' text='$FREE' 
        modal_target='#modalOatmealShortbread' alt='Oatmeal Shortbread Cookies' %}
        {% include modal.html modal_id='modalOatmealShortbread' modal_title='Christmas Menu' modal_body='...' modal_alt='Oatmeal Shortbread Cookies' modal_image='/assets/img/oatmeal-shortbread.jpg' %}

        <!-- Column 3 (Chocolate Covered Sea Salt Cashews) -->
        {% include card.html image='/assets/img/cashews.jpg' title='Chocolate Covered Cashews' text='$69'
        modal_target='#modalCashews' alt='Chocolate Covered Sea Salt Cashews' %}
        {% include modal.html modal_id='modalCashews' modal_title='Christmas Menu' modal_body='...' modal_alt='Chocolate Covered Sea Salt Cashews' modal_image='/assets/img/cashews.jpg' %}

        <!-- Column 1 (Gingerbread Cookies) -->
        {% include card.html image='/assets/img/gingerbread.jpg' title='Gingerbread Cookies' text='$6,000'
        modal_target='#modalGingerbreadCookies' alt='Gingerbread Cookies' %}
        {% include modal.html modal_id='modalGingerbreadCookies' modal_title='Christmas Menu' modal_body='...' modal_alt='Gingerbread Cookies' modal_image='/assets/img/gingerbread.jpg' %}
    </div>
</div>