---
layout: home
title: Thymeless Treats Bakery
subtitle: Where Every Bite is Timelessly Delicious!
cover-img: ["/assets/img/mothersday/1.jpg", "/assets/img/mothersday/2.jpg"]
show_social_links: true
permalink: /mothersday/
---
  
  <h1 class="text-center">🌹 Mother's Day Menu 🌹</h1><br><br>

    
  <!-- Lemon Raspberry Row -->
  <div class="row justify-content-center">
    
      <!-- Column 1 (Large Lemon Raspberry) -->
      {% include card.html 
          image='/assets/img/mothersday/1.jpg' 
          text='$22'
          modal_target='#modalMothersDayBox' 
          title='Mothers Day Floral Cupcake Box'
          alt='Easter Cookie Box' 
      %}
      {% include modal.html 
        modal_id="modalMothersDayBox"
        modal_title="Mothers Day Floral Cupcake Box"
        modal_body='An assortment of beautiful floral cupcakes<br><br>Includes<br>- (6) Vanilla Buttercream Cupcakes'
        modal_disclaimer=""
        modal_price="$22 per box"
        modal_alt="Mother's Day Box"
        modal_image="/assets/img/mothersday/1.jpg"
    %}
    </div>
  