---
layout: default
<!--permalink: /valentines/-->
---

<div class="container">
    <div class="row justify-content-center">
         <div class="col-auto">
        <!-- Image 1 -->
        <img src="/assets/img/valentines/menu1.jpg" class="img-fluid" alt="First Image">
      </div>
      <div class="col-auto">
        <!-- Image 2 -->
        <img src="/assets/img/valentines/menu2.jpg" class="img-fluid" alt="Second Image">
      </div>
    </div>
  </div>
  
  <h2 class="text-center">Large Cookies</h2>

    
  <!-- Lemon Raspberry Row -->
  <div class="row justify-content-center">
    
      <!-- Column 1 (Large Lemon Raspberry) -->
      {% include card.html 
          image='/assets/img/valentines/lemonRaspberry.png' 
          title='Lemon Raspberry' 
          text='$3.50'
          modal_target='#modalLemonRaspberry' 
          alt='Lemon Raspberry' 
      %}
      {% include modal.html 
        modal_id='modalLemonRaspberry'
        modal_title='Lemon Raspberry'
        modal_body='A Light Lemony Cookie covered with Swirls of Raspberry & Vanilla Buttercream'
        modal_disclaimer='Pearls are optional'
        modal_price='$3.50/1 - Individual box with choice of sticker message <br> $38/12 - Individually wrapped with message sticker'
        modal_alt='Lemon Raspberry'
        modal_image='/assets/img/valentines/lemonRaspberry.png'
      %}

        <!-- Column 2 (Large Anti Valentine) -->
        {% include card.html 
          image='/assets/img/valentines/antiValentine.jpg' 
          title='Anti-Valentine' 
          text='$3.50'
          modal_target='#modalAntiValentine' 
          alt='Lemon Raspberry' 
      %}
      {% include modal.html 
        modal_id='modalAntiValentine'
        modal_title='Anti-Valentine'
        modal_body='Black Cocoa Cookies<br>covered with Swirls of Black Chocolate & Vanilla Buttercream'
        modal_disclaimer='Included in Tasters Box'
        modal_price='$3.50/1 - Individual box with choice of sticker message <br> $38/12 - Individually wrapped with message sticker'          
        modal_alt='Anti-Valentine Black Cocoa Heart'
        modal_image='/assets/img/valentines/antiValentine.jpg'
      %}

      <!-- Column 3 (Large Chocolate Covered Raspberry) -->
      {% include card.html 
        image='/assets/img/valentines/chocolateCoveredRaspberry.jpg' 
        title='Chocolate Covered Raspberry' 
        text='$3.50'
        modal_target='#modalChocolateCoveredRaspberry' 
        alt='Chocolate Covered Raspberry' 
    %}
    {% include modal.html 
      modal_id='modalChocolateCoveredRaspberry'
      modal_title='Chocolate Covered Raspberry'
      modal_body='Black Cocoa Cookie covered with Swirls of Raspberry & Vanilla Buttercream'
      modal_disclaimer='Pearls are optional'
      modal_price='$3.50/1 - Individual box with choice of sticker message <br> $38/12 - Individually wrapped with message sticker'
      modal_alt='Chocolate Covered Raspberry'
      modal_image='/assets/img/valentines/chocolateCoveredRaspberry.jpg'
    %}

      <!-- Column 4 (Large Cookies & Cream Dreams) -->
          {% include card.html 
              image='/assets/img/valentines/cookiesCreamDreams.jpg' 
              title='Cookies & Cream Dreams' 
              text='$3.50'
              modal_target='#modalCookiesCreamDreams' 
              alt='Cookies & Cream Dreams' 
          %}
          {% include modal.html 
            modal_id='modalCookiesCreamDreams'
            modal_title='Cookies & Cream Dreams'
            modal_body='Black Cocoa Cookie covered with Swirls of Vanilla Buttercream'
            modal_disclaimer='Optional Crystal Sprinkles'
            modal_price='$3.50/1 - Individual box with choice of sticker message <br> $38/12 - Individually wrapped with message sticker'
            modal_alt='Cookies & Cream Dreams (Large)'
            modal_image='/assets/img/valentines/cookiesCreamDreams.jpg'
          %}
    </div>
    
    <h2 class="text-center">Taster's Box</h2>
    <div class="row justify-content-center">
        <!-- Column 1 (Taster's Box) -->
        {% include card.html 
          image='/assets/img/valentines/tastersBox.jpg' 
          title='Tasters Box' 
          text='$12'
          modal_target='#modaltastersBox' 
          alt='Tasters Box' 
        %}
        {% include modal.html 
          modal_id='modaltastersBox'
          modal_title='Tasters Box'
          modal_body='The Tasters Box is a great way to try a little bit of everything. 💝 <br><br> These handcrafted boxes are perfect for: <br> - Enjoying with the kids<br> - Girls Night In<br> - Thank you gifts<br>...and so much more. <br><br>$12 gets you 1 tasters box with 6 beautiful cookies inside, which consists of our top two flavors - Lemon Raspberry & Chocolate Covered Raspberry.'
          modal_disclaimer=''
          modal_price='$12'
          modal_alt='Tasters Box'
          modal_image='/assets/img/valentines/tastersBox.jpg'
        %} 
        
      </div>

  <!-- Chocolate Covered Raspberry Row -->
  <h2 class="text-center">Sharing is Caring</h2>
  <div class="row justify-content-center">
            <!-- Column 1 (Lemon Raspberry Petite) -->
            {% include card.html 
              image='/assets/img/valentines/lemonRaspberry_minis.jpg' 
              title='Lemon Raspberry (Petite)' 
              text='$3.50'
              modal_target='#modalLemonRaspberryMinis' 
              alt='Lemon Raspberry' 
          %}
          {% include modal.html 
              modal_id='modalLemonRaspberryMinis'
              modal_title='Lemon Raspberry'
              modal_body='A Light Lemony Cookie covered with Swirls of Raspberry & Vanilla Buttercream'
              modal_disclaimer='Included as part of our Tasters Box'
              modal_price='Sharing is Caring<br> $15/12 Assorted Petite Heart Cookies'
              modal_alt='Lemon Raspberry (Petite)'
              modal_image='/assets/img/valentines/lemonRaspberry_minis.jpg'
            %}   

            <!-- Column 2 (Anti Valentine Petite) -->
            {% include card.html 
              image='/assets/img/valentines/antiValentine_mini1.jpg' 
              title='Anti-Valentine (Petite)' 
              text='$3.50'
              modal_target='#modalAntiValentinePetite' 
              alt='Lemon Raspberry' 
          %}
          {% include modal.html 
              modal_id='modalAntiValentinePetite'
              modal_title='Anti-Valentine'
              modal_body='Black Cocoa Cookies<br>covered with Swirls of Black Chocolate & Vanilla Buttercream'
              modal_disclaimer='Included as part of our Tasters Box'
              modal_price='Sharing is Caring<br> $15/12 Assorted Petite Heart Cookies'
              modal_alt='Anti-Valentine Black Cocoa Heart (Petite)'
              modal_image='/assets/img/valentines/antiValentine_mini1.jpg'
            %}     
  </div>
  




  <!-- Large Cookies -->
  
    <!-- 2 x 2 flavor columns -->
  
  <!-- Taster's Box -->

    <!-- Single COlumn -->
    
  <!-- Sharing is Caring -->

    <!-- Two Columns Two Flavors--> 