---
layout: home
title: Thymeless Treats Bakery
subtitle: Where Every Bite is Timelessly Delicious!
cover-img: "/assets/img/valentines/valentinesHeader1.png"
show_social_links: true
permalink: /valentines/
---

<div class="container">
    <div class="row justify-content-center">
         <div class="col-auto">
        <!-- Image 1 -->
        <img src="/assets/img/valentines/menu2.png" class="img-fluid" alt="First Image">
      </div>
      <div class="col-auto">
        <!-- Image 2 -->
        <img src="/assets/img/valentines/menu1.png" class="img-fluid" alt="Second Image">
      </div>
    </div>
  </div>
  
  <h2 class="text-center">Lemon Raspberry</h2>

    
  <!-- Lemon Raspberry Row -->
  <div class="row justify-content-center">
    
      <!-- Column 1 (Large Lemon Raspberry) -->
      {% include card.html 
          image='/assets/img/valentines/lemonRaspberry.png' 
          title='Lemon Raspberry (Large)' 
          text='$3.50'
          modal_target='#modalLemonRaspberry' 
          alt='Lemon Raspberry' 
      %}
      {% include modal.html 
        modal_id='modalLemonRaspberry'
        modal_title='Lemon Raspberry'
        modal_body='A Light Lemony Cookie covered with Swirls of Raspberry & Vanilla Buttercream'
        modal_disclaimer='Pearls are optional'
        modal_price='$3.50/1 - Individual box with choice of sticker message <br>$7/2 - Boxed together or in separate sleeves<br> $36/12 - Individually wrapped with message sticker'
        modal_alt='Lemon Raspberry (Large)'
        modal_image='/assets/img/valentines/lemonRaspberry.png'
      %}
      
    
      <!-- Column 2 (Lemon Raspberry Petite) -->
      {% include card.html 
        image='/assets/img/valentines/lemonRaspberry_minis.jpg' 
        title='Lemon Raspberry (Petite)' 
        text='$3.50'
        modal_target='#modalLemonRaspberryMinis' 
        alt='Lemon Raspberry' 
    %}
    {% include modal.html 
        modal_id='modalLemonRaspberryMinis'
        modal_title='Lemon Raspberry'
        modal_body='A Light Lemony Cookie covered with Swirls of Raspberry & Vanilla Buttercream'
        modal_disclaimer='Included as part of our Tasters Box'
        modal_price='Sharing is Caring<br> $15/12 Assorted Petite Heart Cookies'
        modal_alt='Lemon Raspberry (Petite)'
        modal_image='/assets/img/valentines/lemonRaspberry_minis.jpg'
      %}      
      
    </div>
    
    <h2 class="text-center">The Anti-Valentine</h2>
    <div class="row justify-content-center">
    
        <!-- Column 1 (Large Anti Valentine) -->
        {% include card.html 
            image='/assets/img/valentines/antiValentine.jpg' 
            title='Anti-Valentine (Large)' 
            text='$3.50'
            modal_target='#modalAntiValentine' 
            alt='Lemon Raspberry' 
        %}
        {% include modal.html 
          modal_id='modalAntiValentine'
          modal_title='Anti-Valentine'
          modal_body='Black Cocoa Cookies<br>covered with Swirls of Black Chocolate & Vanilla Buttercream'
          modal_disclaimer='Included in Tasters Box'
          modal_price='$3.50/1 - Individual box with choice of sticker message <br>$7/2 - Boxed together or in separate sleeves<br> $36/12 - Individually wrapped with message sticker'          modal_alt='Anti-Valentine Black Cocoa Heart (Large)'
          modal_image='/assets/img/valentines/antiValentine.jpg'
        %}
        
      
        <!-- Column 2 (Petite Anti Valentine) -->
        {% include card.html 
          image='/assets/img/valentines/antiValentine_mini1.jpg' 
          title='Anti-Valentine (Petite)' 
          text='$3.50'
          modal_target='#modalAntiValentinePetite' 
          alt='Lemon Raspberry' 
      %}
      {% include modal.html 
          modal_id='modalAntiValentinePetite'
          modal_title='Anti-Valentine'
          modal_body='Black Cocoa Cookies<br>covered with Swirls of Black Chocolate & Vanilla Buttercream'
          modal_disclaimer='Included as part of our Tasters Box'
          modal_price='Sharing is Caring<br> $15/12 Assorted Petite Heart Cookies'
          modal_alt='Anti-Valentine Black Cocoa Heart (Petite)'
          modal_image='/assets/img/valentines/antiValentine_mini1.jpg'
        %}      
        
      </div>

  <!-- Chocolate Covered Raspberry Row -->
  <h2 class="text-center">Chocolate Covered Raspberry</h2>
  <div class="row justify-content-center">
      <!-- Column 1 (Large Chocolate Covered Raspberry) -->
      {% include card.html 
          image='/assets/img/valentines/chocolateCoveredRaspberry.jpg' 
          title='Chocolate Covered Raspberry (Large)' 
          text='$3.50'
          modal_target='#modalChocolateCoveredRaspberry' 
          alt='Chocolate Covered Raspberry' 
      %}
      {% include modal.html 
        modal_id='modalChocolateCoveredRaspberry'
        modal_title='Chocolate Covered Raspberry'
        modal_body='Black Cocoa Cookie covered with Swirls of Raspberry & Vanilla Buttercream'
        modal_disclaimer='Pearls are optional'
        modal_price='$3.50/1 - Individual box with choice of sticker message <br>$7/2 - Boxed together or in separate sleeves<br> $36/12 - Individually wrapped with message sticker'
        modal_alt='Chocolate Covered Raspberry (Large)'
        modal_image='/assets/img/valentines/chocolateCoveredRaspberry.jpg'
      %}
  </div>
  
  <!-- Cookies & Cream Dreams Row -->
  <h2 class="text-center">Cookies & Cream Dreams</h2>
  <div class="row justify-content-center">
      <!-- Column 1 (Large Cookies & Cream Dreams) -->
      {% include card.html 
          image='/assets/img/valentines/cookiesCreamDreams.jpg' 
          title='Cookies & Cream Dreams (Large)' 
          text='$3.50'
          modal_target='#modalCookiesCreamDreams' 
          alt='Cookies & Cream Dreams' 
      %}
      {% include modal.html 
        modal_id='modalCookiesCreamDreams'
        modal_title='Cookies & Cream Dreams'
        modal_body='Black Cocoa Cookie covered with Swirls of Vanilla Buttercream'
        modal_disclaimer='Optional Crystal Sprinkles'
        modal_price='$3.50/1 - Individual box with choice of sticker message <br>$7/2 - Boxed together or in separate sleeves<br> $36/12 - Individually wrapped with message sticker'
        modal_alt='Cookies & Cream Dreams (Large)'
        modal_image='/assets/img/valentines/cookiesCreamDreams.jpg'
      %}
  </div>
