<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Thymeless Treats Bakery is a home-based bakery nestled in the heart of North Ridgeville. Our passion is to create timeless and delicious treats that remind you of home.</p>
      </div>
      <div class="col-lg-4">
        <p>Using only the finest ingredients, each pastry is handcrafted with love and care, ensuring a taste that's unparalleled. From classic pastries to contemporary confections, there's something for everyone at Thymeless Treats Bakery.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#contact" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> Contact Us
        </a>
      </div>
    </div>
  </div>
</section>

<link rel="stylesheet" href="/css/font-awesome/css/all.min.css">
<link rel="stylesheet" href="/style.css">
