<!-- _includes/modal.html -->
<div class="modal fade" id="{{ include.modal_id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ forloop.index }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document"> <!-- Removed the dot before modal-fullscreen and changed to modal-xl -->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ forloop.index }}">{{ include.modal_title }}</h5>
                <!-- Close button with only an "X" -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Horizontal Card -->
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{ include.modal_image }}" class="img-fluid rounded-start" alt="{{ include.modal_alt }}">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ include.modal_alt }}</h5>
                        <p class="card-text">{{ include.modal_body }}</p>
                        <span class="modal-price">{{ include.modal_price }}</span>
                          {% if include.modal_disclaimer %}
                            <p class="modal-disclaimer">{{ include.modal_disclaimer }}</p>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Horizontal Card -->
            </div>

            <!-- Optional Modal Footer -->
            <!--
            <div class="modal-footer">
                Add any footer elements here if necessary
            </div>
            -->
        </div>
    </div>
</div>
