<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include the head HTML with proper meta tags and CSS links -->
    {% include head.html %}
</head>

<body id="page-top" class="index">
    <!-- Navigation bar -->
    {% include nav.html %}

    <!-- Header -->
    <!-- {% include header.html %} -->

    <!-- Main content of the page -->
    <main>
        {{ content }}  <!-- This will inject the content of your Markdown files -->
    </main>

    <!-- Footer -->
    {% include footer.html %}

    <!-- JavaScript Files -->
    {% include js.html %}

    <!-- Debugging Output -->
Base URL: {{ site.baseurl }}
Site URL: {{ site.url }}

</body>
</html>
